# Admin credentials
NEXT_PUBLIC_ADMIN_USERNAME=admin
NEXT_PUBLIC_ADMIN_PASSWORD=admin123

# Database
DATABASE_URL="file:./dev.db"

# Google Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Site URL for metadata
NEXT_PUBLIC_SITE_URL=http://localhost:3000
